#root {
  max-width: 100vw;
  height: 100vh;
  position: relative;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
p {
  line-height: 10px;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.create-flight .form--row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.create-flight .form-row-item input,
.create-flight .form-row-item select {
  flex: 1;
  display: inline-block;
}
.create-flight .form-row-item {
  flex: 1;
  display: inline-flex;
  align-items: center;
  margin-right: 2em;
  width: 100%;
}
.create-flight .form-row-item label {
  min-width: 80px;
  max-width: 150px;
  margin-right: 0.5em;
  margin-bottom: 0;
}
